span.bold {
    font-weight: bold;
}

span.italic {
    font-style: italic;
} 

span.underline {
    text-decoration: underline;
}

span.blue {
    color: rgba(0, 150, 255, 1);
}

.fame-container {
    position: relative;
    left: 0;
    right: 0;
    margin: 40px auto 0 auto;
    width: 120px;
    height: 120px;
}

.fame {
    width: 120px;
    height: 120px;
    box-shadow: inset 0px 0px 0px 16px rgba(0, 150, 255, 1);
    border-radius: 50%;
    animation: scale 4s infinite 1s ease-in-out, breathe 4s infinite ease-in-out;
}

@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }
    10% {
        transform: rotateY(180deg);
    }
    20% {
        transform: rotateY(0deg);
    }
}

@keyframes scale {
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(.90);
    }
}

@keyframes breathe {
    from {
        box-shadow: inset 0px 0px 0px 16px rgba(0, 150, 255, 1), 0px 0px 0px 10px rgba(0, 150, 255, .5);
    }
    50% {
        box-shadow: inset 0px 0px 0px 14px rgba(0, 150, 255, 1), 0px 0px 0px 5px rgba(0, 150, 255, .5);
    }
    to {
        box-shadow: inset 0px 0px 0px 16px rgba(0, 150, 255, 1), 0px 0px 0px 10px rgba(0, 150, 255, .5);
    }
}