body {
    background-color: rgba(240,240,240,1);
    text-align: center;
}

h1 {
    font-family: sans-serif;
    color: rgba(80, 80, 80, 1);
    max-width: 80%;
    margin: 16px auto;
}

p {
    font-family: sans-serif;
    color: rgba(80, 80, 80, 1);
    max-width: 80%;
    margin: 16px auto;
}

button {
    position: relative;
    left: 0;
    right: 0;
    margin: 20px auto;
    border: 3px rgba(0, 150, 255, 1) solid;
    background-color: white;
    color: rgba(0, 150, 255, 1);
    min-width: 200px;
    min-height: 40px;
    font-size: 14px;
    font-weight: bold;
    transition-duration: .3s;
}

button:hover {
    background-color: rgba(0, 150, 255, 1);
    color: white;
}

.fame-container {
    position: relative;
    left: 0;
    right: 0;
    margin: 20px auto 40px auto;
    width: 120px;
    height: 120px;
}

.fame {
    width: 120px;
    height: 120px;
    box-shadow: inset 0px 0px 0px 16px rgba(0, 150, 255, 1);
    border-radius: 50%;
    animation: scale 4s infinite 1s ease-in-out, breathe 4s infinite ease-in-out;
}

main section article.active {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 20px;
    width: 500px;
    height: 400px;
    background-color: white;
    border-radius: 18px;
    box-shadow: 0px 0px 20px rgba(0,0,0,.15);
}

main section article.inactive {
    opacity: 0;
    pointer-events: none;
}

@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }
    10% {
        transform: rotateY(180deg);
    }
    20% {
        transform: rotateY(0deg);
    }
}

@keyframes scale {
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(.90);
    }
}

@keyframes breathe {
    from {
        box-shadow: inset 0px 0px 0px 16px rgba(0, 150, 255, 1), 0px 0px 0px 10px rgba(0, 150, 255, .5);
    }
    50% {
        box-shadow: inset 0px 0px 0px 14px rgba(0, 150, 255, 1), 0px 0px 0px 5px rgba(0, 150, 255, .5);
    }
    to {
        box-shadow: inset 0px 0px 0px 16px rgba(0, 150, 255, 1), 0px 0px 0px 10px rgba(0, 150, 255, .5);
    }
}

@keyframes moveout {
    
}