body {
    background-color: rgba(240,240,240,1);
    text-align: center;
}

h1 {
    font-family: sans-serif;
    color: rgba(80, 80, 80, 1);
    max-width: 80%;
    margin: 16px auto;
}

h2 {
    font-size: 20px;
}

p {
    font-family: sans-serif;
    color: rgba(80, 80, 80, 1);
    max-width: 80%;
    margin: 16px auto;
}

button {
    position: relative;
    left: 0;
    right: 0;
    margin: 20px auto;
    border: 3px rgba(0, 140, 255, 1) solid;
    background-color: white;
    color: rgba(0, 140, 255, 1);
    min-width: 200px;
    min-height: 40px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    transition-duration: .3s;
}

button:hover {
    background-color: rgba(0, 140, 255, 1);
    color: white;
}

.fame-container {
    margin: 20px auto 40px auto;
}

main section .back {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 24px;
    opacity: .2;
}


main .totaltokens {
    display: flex;
    align-items: center;
    justify-content: center;
}

main .totaltokens svg {
    width: 60px;
    height: 60px;
    margin: 0;
}

main .totaltokens p {
    margin: 0 0 0 12px;
    width: auto;
    color: rgba(0, 140, 255, 1);
    text-align: left;
    font-weight: bold;
}

main .totaltokens p span {
    color: rgba(80, 80, 80, 1);
}


main .totaltokens.small {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 10px;
    top: 10px;
}

main .totaltokens.small svg {
    width: 40px;
    height: 40px;
    margin: 0;
}

main .totaltokens.small p {
    margin: 0 0 0 4px;
    width: auto;
    color: rgba(0, 140, 255, 1);
    text-align: left;
/*    font-weight: normal;*/
    font-size: 14px;
}

main section article.active {
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    margin: auto;
    padding: 20px;
    width: 80%;
    height: auto;
    background-color: white;
    border-radius: 18px;
    box-shadow: 0px 0px 20px rgba(0,0,0,.15);
}

main section article.inactive {
    opacity: 0;
    pointer-events: none;
}